@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url(/public/fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: SF-Pro-Display-Medium;
  src: url(/public/fonts/SF-Pro-Display-Medium.otf);
}

* {
  font-family: SF-Pro-Display-Bold !important;
}

select,
option,
input::placeholder,
.medium-font {
  font-family: SF-Pro-Display-Medium !important;
}

body {
  background-color: #f5f5f7;
}

.input {
  width: 100%;
  font-weight: 400;
  padding: 14px 16px;
  border-radius: 6px;
  border: 1px solid #e0e7ff;
  background-color: #e0e7ff61;

  &:focus {
    outline: 0.5px solid red;
  }

  &::placeholder {
    color: gray;
  }

  &::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(0.5);
  }
}

.my_chart {
  .apexcharts-canvas {
    & .apexcharts-tooltip {
      color: "";
      box-shadow: "";
      border-radius: "";

      & .apexcharts-theme-light {
        border-color: transparent;
      }
    }

    & .apexcharts-xaxistooltip {
      border-color: transparent;
      color: "";
      box-shadow: "";
      border-radius: "";

      &:before {
        border-bottom-color: "";
      }

      &:after {
        border-bottom-color: "";
      }
    }

    & .apexcharts-tooltip-title {
      text-align: center;
      font-weight: "";
      background-color: #000;
      color: "";
    }

    & .apexcharts-legend {
      padding: 0;
    }

    & .apexcharts-legend-series {
      display: inline-flex !important;
      align-items: center;
    }

    & .apexcharts-legend-marker {
      margin-right: 8;
    }

    & .apexcharts-legend-text {
      line-height: 18px;
      text-transform: capitalize;
    }
  }
}

.loader {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;

  span {
    position: absolute;
    border: 4px solid #3366ff;
    opacity: 1;
    border-radius: 50%;
    animation: AnimationLoader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

    &:nth-child(2) {
      animation-delay: -0.5s;
    }
  }
}

@keyframes AnimationLoader {
  0% {
    width: 0;
    height: 0;
    top: 36px;
    left: 36px;
    opacity: 0;
  }
  4.9% {
    width: 0;
    height: 0;
    top: 36px;
    left: 36px;
    opacity: 0;
  }
  5% {
    width: 0;
    height: 0;
    top: 36px;
    left: 36px;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 72px;
    height: 72px;
  }
}

.pagination {
  display: flex;
  outline: none;
  list-style: none;
  margin: 15px auto;

  li {
    a {
      height: 30px;
      display: flex;
      padding: 0 5px;
      min-width: 30px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      border: 1px solid #dfe3e8;

      margin: 0 5px;
      outline: none;
      cursor: pointer;
      color: #1d1d1f;
      background-color: #ffffff;
    }
  }

  .active {
    a,
    span,
    a:hover,
    span:focus,
    span:hover a:focus {
      outline: none;
      color: #3366ff;
      border-color: #3366ff;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  margin-left: 10px;
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3366ff;
}
